*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
easypermissions/build/generated/assets/
easypermissions/build/generated/res/
easypermissions/build/generated/source/aidl/
easypermissions/build/generated/source/apt/
easypermissions/build/generated/source/rs/
easypermissions/build/intermediates/annotations/
easypermissions/build/intermediates/bundles/debug/aidl/
easypermissions/build/intermediates/bundles/debug/assets/
easypermissions/build/intermediates/bundles/debug/jni/
easypermissions/build/intermediates/bundles/debug/libs/
easypermissions/build/intermediates/bundles/release/aidl/
easypermissions/build/intermediates/bundles/release/assets/
easypermissions/build/intermediates/bundles/release/jni/
easypermissions/build/intermediates/bundles/release/libs/
easypermissions/build/intermediates/dependency-cache/
easypermissions/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.1/aidl/
easypermissions/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.1/assets/
easypermissions/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.1/jni/
easypermissions/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.1/libs/
easypermissions/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.1/res/
easypermissions/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.3.1/aidl/
easypermissions/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.3.1/assets/
easypermissions/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.3.1/jni/
easypermissions/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.3.1/libs/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-compat/25.3.1/assets/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-compat/25.3.1/jni/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-compat/25.3.1/libs/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-compat/25.3.1/res/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.1/aidl/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.1/assets/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.1/jni/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.1/libs/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.1/res/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.1/aidl/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.1/assets/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.1/jni/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.1/libs/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.1/res/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-fragment/25.3.1/aidl/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-fragment/25.3.1/assets/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-fragment/25.3.1/jni/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-fragment/25.3.1/libs/
easypermissions/build/intermediates/exploded-aar/com.android.support/su
pport-fragment/25.3.1/res/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.3.1/assets/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.3.1/jni/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.3.1/libs/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.3.1/res/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-v4/25.3.1/aidl/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-v4/25.3.1/assets/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-v4/25.3.1/jni/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-v4/25.3.1/libs/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-v4/25.3.1/res/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.3.1/aidl/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.3.1/assets/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.3.1/jni/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.3.1/libs/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.3.1/res/
easypermissions/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
easypermissions/build/intermediates/incremental/mergeDebugResources/aapt-temp/
easypermissions/build/intermediates/incremental/mergeReleaseResources/aapt-temp/
easypermissions/build/intermediates/incremental/packageDebugAndroidTest/
easypermissions/build/intermediates/incremental/packageDebugResources/aapt-temp/
easypermissions/build/intermediates/incremental/packageReleaseResources/aapt-temp/
easypermissions/build/intermediates/incremental/processDebugAndroidTestResources/
easypermissions/build/intermediates/incremental/processDebugResources/
easypermissions/build/intermediates/incremental/processReleaseResources/
easypermissions/build/intermediates/jniLibs/
easypermissions/build/intermediates/lint/
easypermissions/build/intermediates/manifest/tmp/
easypermissions/build/intermediates/rs/
easypermissions/build/intermediates/shaders/
easypermissions/build/intermediates/transforms/
easypermissions/build/tmp/
matisse/build/generated/assets/
matisse/build/generated/res/
matisse/build/generated/source/aidl/
matisse/build/generated/source/apt/
matisse/build/generated/source/rs/
matisse/build/intermediates/bundles/debug/aidl/
matisse/build/intermediates/bundles/debug/assets/
matisse/build/intermediates/bundles/debug/jni/
matisse/build/intermediates/bundles/debug/libs/
matisse/build/intermediates/bundles/release/aidl/
matisse/build/intermediates/bundles/release/assets/
matisse/build/intermediates/bundles/release/jni/
matisse/build/intermediates/bundles/release/libs/
matisse/build/intermediates/dependency-cache/
matisse/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.1/aidl/
matisse/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.1/assets/
matisse/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.1/jni/
matisse/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.1/libs/
matisse/b
uild/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.1/res/
matisse/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.3.1/aidl/
matisse/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.3.1/assets/
matisse/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.3.1/jni/
matisse/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.3.1/libs/
matisse/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.3.1/aidl/
matisse/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.3.1/assets/
matisse/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.3.1/jni/
matisse/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.3.1/libs/
matisse/build/intermediates/exploded-aar/com.android.support/support-compat/25.3.1/assets/
matisse/build/intermediates/exploded-aar/com.android.support/support-compat/25.3.1/jni/
matisse/build/intermediates/exploded-aar/com.android.support/support-compat/25.3.1/libs/
matisse/build/intermediates/exploded-aar/com.android.support/support-compat/25.3.1/res/
matisse/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.1/aidl/
matisse/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.1/assets/
matisse/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.1/jni/
matisse/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.1/libs/
matisse/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.1/res/
matisse/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.1/aidl/
matisse/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.1/assets/
matisse/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.1/jni/
matisse/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.1/libs/
matisse/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.1/res/
matisse/build/intermediates/exploded-aar/com.android.support/support-fragment/25.3.1/aidl/
matisse/build/intermediates/exploded-aar/com.android.support/support-fragment/25.3.1/assets/
matisse/build/intermediates/exploded-aar/com.android.support/support-fragment/25.3.1/jni/
matisse/build/intermediates/exploded-aar/com.android.support/support-fragment/25.3.1/libs/
matisse/build/intermediates/exploded-aar/com.android.support/support-fragment/25.3.1/res/
matisse/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.3.1/assets/
matisse/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.3.1/jni/
matisse/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.3.1/libs/
matisse/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.3.1/res/
matisse/build/intermediates/exploded-aar/com.android.support/support-v4/25.3.1/aidl/
matisse/build/intermediates/exploded-aar/com.android.support/support-v4/25.3.1/assets/
matisse/build/intermediates/exploded-aar/com.android.support/support-v4/25.3.1/jni/
matisse/build/intermediates/exploded-aar/com.android.support/support-v4/25.3.1/libs/
matisse/build/intermediates/exploded-aar/com.android.support/support-v4/25.3.1/res/
matisse/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.3.1/aidl/
matisse/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.3.1/assets/
matisse/build/intermediates/exploded-aar/com.android.support/
support-vector-drawable/25.3.1/jni/
matisse/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.3.1/libs/
matisse/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.3.1/res/
matisse/build/intermediates/exploded-aar/it.sephiroth.android.library.easing/library/1.0.2/assets/
matisse/build/intermediates/exploded-aar/it.sephiroth.android.library.easing/library/1.0.2/jni/
matisse/build/intermediates/exploded-aar/it.sephiroth.android.library.easing/library/1.0.2/res/
matisse/build/intermediates/exploded-aar/it.sephiroth.android.library.imagezoom/library/1.0.4/assets/
matisse/build/intermediates/exploded-aar/it.sephiroth.android.library.imagezoom/library/1.0.4/jni/
matisse/build/intermediates/exploded-aar/it.sephiroth.android.library.imagezoom/library/1.0.4/res/
matisse/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
matisse/build/intermediates/incremental/mergeDebugResources/aapt-temp/
matisse/build/intermediates/incremental/mergeReleaseResources/aapt-temp/
matisse/build/intermediates/incremental/packageDebugAndroidTest/
matisse/build/intermediates/incremental/packageDebugResources/aapt-temp/
matisse/build/intermediates/incremental/packageReleaseResources/aapt-temp/
matisse/build/intermediates/incremental/processDebugAndroidTestResources/
matisse/build/intermediates/incremental/processDebugResources/
matisse/build/intermediates/incremental/processReleaseResources/
matisse/build/intermediates/jniLibs/
matisse/build/intermediates/lint/
matisse/build/intermediates/manifest/tmp/
matisse/build/intermediates/rs/
matisse/build/intermediates/shaders/
matisse/build/intermediates/transforms/
matisse/build/tmp/
ultimaterecyclerview/build/generated/assets/
ultimaterecyclerview/build/generated/res/
ultimaterecyclerview/build/generated/source/aidl/
ultimaterecyclerview/build/generated/source/apt/
ultimaterecyclerview/build/generated/source/rs/
ultimaterecyclerview/build/intermediates/annotations/
ultimaterecyclerview/build/intermediates/bundles/debug/aidl/
ultimaterecyclerview/build/intermediates/bundles/debug/assets/
ultimaterecyclerview/build/intermediates/bundles/debug/jni/
ultimaterecyclerview/build/intermediates/bundles/debug/libs/
ultimaterecyclerview/build/intermediates/bundles/release/aidl/
ultimaterecyclerview/build/intermediates/bundles/release/assets/
ultimaterecyclerview/build/intermediates/bundles/release/jni/
ultimaterecyclerview/build/intermediates/bundles/release/libs/
ultimaterecyclerview/build/intermediates/dependency-cache/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.1.1/aidl/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.1.1/assets/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.1.1/jni/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.1.1/libs/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.1.1/res/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.1.1/aidl/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.1.1/assets/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.1.1/jni/
ultimaterecyclerview/build/intermediates/exploded-aar/com.andr
oid.support/appcompat-v7/25.1.1/libs/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.1.1/aidl/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.1.1/assets/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.1.1/jni/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.1.1/libs/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-compat/25.1.1/assets/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-compat/25.1.1/jni/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-compat/25.1.1/libs/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-compat/25.1.1/res/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.1.1/aidl/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.1.1/assets/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.1.1/jni/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.1.1/libs/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.1.1/res/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.1.1/aidl/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.1.1/assets/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.1.1/jni/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.1.1/libs/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.1.1/res/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-fragment/25.1.1/aidl/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-fragment/25.1.1/assets/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-fragment/25.1.1/jni/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-fragment/25.1.1/libs/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-fragment/25.1.1/res/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.1.1/assets/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.1.1/jni/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.1.1/libs/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.1.1/res/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-v13/25.1.1/aidl/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-v13/25.1.1/assets/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-v13/25.1.1/jni/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-v13/25.1.1/libs/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-v13/25.1.1/res/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-v4/25.1.1/aidl/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-v4/25.1.1/assets/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-v4/25.1.1/
jni/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-v4/25.1.1/libs/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-v4/25.1.1/res/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.1.1/aidl/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.1.1/assets/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.1.1/jni/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.1.1/libs/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.1.1/res/
ultimaterecyclerview/build/intermediates/exploded-aar/in.srain.cube/ultra-ptr/1.0.11/aidl/
ultimaterecyclerview/build/intermediates/exploded-aar/in.srain.cube/ultra-ptr/1.0.11/assets/
ultimaterecyclerview/build/intermediates/exploded-aar/jp.wasabeef/recyclerview-animators/2.2.3/aidl/
ultimaterecyclerview/build/intermediates/exploded-aar/jp.wasabeef/recyclerview-animators/2.2.3/assets/
ultimaterecyclerview/build/intermediates/exploded-aar/jp.wasabeef/recyclerview-animators/2.2.3/jni/
ultimaterecyclerview/build/intermediates/exploded-aar/jp.wasabeef/recyclerview-animators/2.2.3/libs/
ultimaterecyclerview/build/intermediates/exploded-aar/jp.wasabeef/recyclerview-animators/2.2.3/res/
ultimaterecyclerview/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
ultimaterecyclerview/build/intermediates/incremental/mergeDebugResources/aapt-temp/
ultimaterecyclerview/build/intermediates/incremental/mergeReleaseResources/aapt-temp/
ultimaterecyclerview/build/intermediates/incremental/packageDebugAndroidTest/
ultimaterecyclerview/build/intermediates/incremental/packageDebugResources/aapt-temp/
ultimaterecyclerview/build/intermediates/incremental/packageReleaseResources/aapt-temp/
ultimaterecyclerview/build/intermediates/incremental/processDebugAndroidTestResources/
ultimaterecyclerview/build/intermediates/incremental/processDebugResources/
ultimaterecyclerview/build/intermediates/incremental/processReleaseResources/
ultimaterecyclerview/build/intermediates/jniLibs/
ultimaterecyclerview/build/intermediates/lint/
ultimaterecyclerview/build/intermediates/manifest/tmp/
ultimaterecyclerview/build/intermediates/rs/
ultimaterecyclerview/build/intermediates/shaders/
ultimaterecyclerview/build/intermediates/transforms/
ultimaterecyclerview/build/tmp/
easypermissions/build/intermediates/exploded-aar/com.android.support/support-fragment/25.3.1/res/
ultimaterecyclerview/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.1.1/libs/
easypermissions/build/generated/source/r/androidTest/debug/android/support/compat/
easypermissions/build/generated/source/r/androidTest/debug/android/support/coreui/
easypermissions/build/generated/source/r/androidTest/debug/android/support/coreutils/
easypermissions/build/generated/source/r/androidTest/debug/android/support/fragment/
easypermissions/build/generated/source/r/androidTest/debug/android/support/graphics/
easypermissions/build/generated/source/r/androidTest/debug/android/support/mediacompat/
easypermissions/build/generated/source/r/androidTest/debug/android/support/v4/
easypermissions/build/generated/source/r/debug/android/support/compat/
easypermissions/build/generated/source/r/debug/android/support/coreui/
easypermissions/build/generated/source/r/debug/android/support/coreutils/
easypermissions/build/generated/source/r/debug/android/support/fragment/
easypermissions/build/generated/source/r/debug/android/support/graphics/
easypermissions/build/generated/source/r/debug/android/support/mediacompat/
easypermissions/build/generated/source/r/debug/android/support/v4/
easypermissions/build/intermediates/bundles/default/
matisse/build/generated/source/r/androidTest/debug/android/support/compat/
matisse/build/generated/source/r/androidTest/debug/android/support/coreui/
matisse/build/generated/source/r/androidTest/debug/android/support/coreutils/
matisse/build/generated/source/r/androidTest/debug/android/support/fragment/
matisse/build/generated/source/r/androidTest/debug/android/support/graphics/
matisse/build/generated/source/r/androidTest/debug/android/support/mediacompat/
matisse/build/generated/source/r/androidTest/debug/android/support/v4/
matisse/build/generated/source/r/androidTest/debug/it/
matisse/build/generated/source/r/debug/android/support/compat/
matisse/build/generated/source/r/debug/android/support/coreui/
matisse/build/generated/source/r/debug/android/support/coreutils/
matisse/build/generated/source/r/debug/android/support/fragment/
matisse/build/generated/source/r/debug/android/support/graphics/
matisse/build/generated/source/r/debug/android/support/mediacompat/
matisse/build/generated/source/r/debug/android/support/v4/
matisse/build/generated/source/r/debug/it/
matisse/build/intermediates/bundles/default/
ultimaterecyclerview/build/generated/source/r/androidTest/debug/android/support/compat/
ultimaterecyclerview/build/generated/source/r/androidTest/debug/android/support/coreui/
ultimaterecyclerview/build/generated/source/r/androidTest/debug/android/support/coreutils/
ultimaterecyclerview/build/generated/source/r/androidTest/debug/android/support/fragment/
ultimaterecyclerview/build/generated/source/r/androidTest/debug/android/support/graphics/
ultimaterecyclerview/build/generated/source/r/androidTest/debug/android/support/mediacompat/
ultimaterecyclerview/build/generated/source/r/androidTest/debug/android/support/v13/
ultimaterecyclerview/build/generated/source/r/androidTest/debug/android/support/v4/
ultimaterecyclerview/build/generated/source/r/debug/android/support/compat/
ultimaterecyclerview/build/generated/source/r/debug/android/support/coreui/
ultimaterecyclerview/build/generated/source/r/debug/android/support/coreutils/
ultimaterecyclerview/build/generated/source/r/debug/android/support/fragment/
ultimaterecyclerview/build/generated/source/r/debug/android/support/graphics/
ultimaterecyclerview/build/generated/source/r/debug/android/support/mediacompat/
ultimaterecyclerview/build/generated
/source/r/debug/android/support/v13/
ultimaterecyclerview/build/generated/source/r/debug/android/support/v4/
ultimaterecyclerview/build/intermediates/bundles/default/
